.header {
  margin-bottom: 15px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  background-color: red;
  color: yellow;
  justify-content: space-around;
  align-items: center;
  font-family: 'Spartan' ;
  font-style: oblique;
}

.header img{
  display: block;
  height: 250px;
  height:250px;
  padding: 1%;
}

.container {
  max-width: 960px;
  display: flex;
  
}

.wrapper {

  margin: 0 auto;
  padding: 10px;
  background-color: #bdcaa8;
  display: flex;
  justify-content: space-around;

}

.profile{
  margin-bottom: 10px;
  display: flex;
 flex-flow: column wrap;
  flex:1;
  padding: 1%;
}

.roles{
  border: 1px solid;
  background-color: white;
  border-radius: 4px; 
  border-style: dashed;
  flex:2;
  padding: 1%;
}

.roles ul, .roles dt{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
}

.roles ol{
  font-family: 'Odibee Sans', cursive;
  font-weight:  600;
}

.profile img{
  width: 70%;
  height: auto;
  border: 1px solid;
  border-radius: 4px;
}

.profile p{
  width:70%;
  border: 1px solid;
  background-color: white;
  border-radius: 4px; 
}